<section class="view intro-2 hm-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="d-flex align-items-center content-height">
                <div class="row flex-center pt-5 mt-3">
                    <div class="col-md-6 text-center text-md-left mb-5">
                        <div class="white-text">
                            <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Nós <i class="fa fa-heart" aria-hidden="true"></i> CashBack</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Quem não gostaria de receber parte do seu dinheiro de volta em suas compras?! Se você, assim como a gente, adora essa ideia, o BackCash é o seu lugar! Venha conhecer as melhores dicas para aproveitar ao máximo o sistema de cashback - seja em suas próximas compras ou na fidelização de seus clientes. Conheça nosso blog!
                            </h6>
                            <br>
                            <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Ler mais</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 offset-xl-1">
                      <app-formulariocadastro></app-formulariocadastro>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
