<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top scrolling-navbar">
    <logo>
      <a class="navbar-brand" href="#">
        <img src="https://files.slack.com/files-pri/T79HV0607-F7B7FF4Q0/download/backcash_logo-blog.png" height="30" alt="">
      </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/home']">Home </a>
            </li>
            <li routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['/blog']">Blog</a>
            </li>

        </ul>
        <form class="form-inline waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
    </links>
</mdb-navbar>
