<div class ="container">
  <div class="card card-cascade wider reverse my-4">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="assets/image1_post.jpg" class="img-fluid">

        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Cashback: seu dinheiro retornando para você!</strong></h4>
            <h5 class="grey-text"><strong>#BlogPost</strong></h5>

            <p class="card-text">Começo de mês é sempre um momento de alegria, pois no máximo até o quinto dia útil, o salário cairá na conta, não é mesmo?! Porém logo em seguida começa aquela atividade não muito agradável que é pagar as contas.
            </p>

            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->



    <div class="mx-auto" style="width: 1000px;">
      <p class="section-description">
        Dentre as várias despesas do brasileiro, o cartão de crédito possui uma parcela fundamental. Segundo o Serviço de Proteção ao Crédito (SPC Brasil) uma parcela de 77% dos brasileiros utiliza o serviço de crédito para realizar suas compras e em 2016, o valor médio desse tipo de compra foi de R$ 198,30 dados da Abecs (Associação Brasileira das Empresas de Cartão de Crédito e Serviços).
Para se ter uma ideia em 2016 os brasileiros pagaram R$ 1,14 trilhão em bens e serviços por meios eletrônicos. É muito dinheiro não é mesmo?!
Mas agora, vou te fazer uma pergunta: você gostaria de ter um pedacinho desse valor retornando para o seu bolso?
Se sua resposta foi sim, e acreditamos que tenha sido, você precisa conhecer as plataformas de Cashback, um modelo de negócios que reembolsa uma porcentagem das compras realizadas com cartão de crédito em lojas parceiras, sejam elas online ou físicas.
Para muitas pessoas isso parece algo impossível, ou até mesmo enganação, afinal de contas, que loja vai devolver parte do dinheiro que você pagou por um produto ou serviço? Mas, acreditem, o modelo Cashback já é utilizado em vários países do mundo e no Brasil ele teve início em 2007.
Quer saber um pouco mais sobre esse modelo e como ter acesso às variadas vantagens que ele pode te proporcionar? Baixe nosso e-book: "Aumente suas vendas oferecendo dinheiro de volta aos clientes".

      </p>
    </div>

    <div class="mx-auto" style="width: 800px;">
      <div class="formbackground">
        <app-formulariocadastro></app-formulariocadastro>
      </div>
    </div>



</div>
