<!--Section heading-->
<div class="mx-auto" style="width: 1000px;">
  <h2 class="section-heading h1 mt-5">Posts recentes:</h2>
</div>

<div class="mx-auto" style="width: 1000px;">
  <p class="section-description">Alguns dos posts mais recentens do nosso blog, leia e confira nossas dicas, como por exemplo, o que é o cash back  e fazer seu salário render mais.</p>
</div>

<div class="container">


  <div class="row">

    <div class="col">
        <!--Card-->
        <div class="card" (click)="onPostClick()">

            <!--Card image-->
            <div class="view hm-white-slight waves-light" (click)="onPostClick()" mdbRippleRadius>
                <img (click)="onPostClick()" src="assets/image1_post.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Cashback: seu dinheiro retornando para você</h4>
                <!--Text-->
                <p class="card-text">O mês de outubro começou e os salários já começaram a cair nas contas. Mas daqui a pouco é hora de pagar aquelas continhas que sempre chegam. Mas você sabia que é possível recuperar parte do dinheiro gasto com seu cartão de crédito? Pois é, com o modelo cashback, parte dos seus gastos, pode retornar para você. Clique para saber mais.
                </p>
                <a (click)="onPostClick()" class="btn btn-green waves-light" mdbRippleRadius>Ler mais</a>
            </div>

        </div>
        <!--/.Card-->
    </div>

    <div class="col">
      <!--Card-->
      <div class="card" (click)="onSecondPostClick()">

          <!--Card image-->
          <div class="view hm-white-slight waves-light" (click)="onPostClick()" mdbRippleRadius>
              <img (click)="onPostClick()" src="assets/image2_post.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a>
                  <div class="mask"></div>
              </a>
          </div>

          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title">6 dicas para fazer o seu salário render</h4>
              <!--Text-->
              <p class="card-text">O Backcash sabe como para muita gente é difícil fazer o dinheiro render até o final do mês e pensando nisso, separamos 6 dicas ótimas para te ajudar! E detalhe, a dica 06 vale ouro, não deixe de acessar o blog para conferir.
              </p>
              <a class="btn btn-green waves-light" (click)="onSecondPostClick()" mdbRippleRadius>Ler mais</a>
          </div>

      </div>
      <!--/.Card-->
    </div>

    <div class="col">
      <!--Card-->
      <div class="card" (click)="onThirdPostClick()">

          <!--Card image-->
          <div class="view hm-white-slight waves-light"(click)="onThirdPostClick()" mdbRippleRadius>
              <img (click)="onPostClick()" src="assets/BackCash_Posts-Facebook_01.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a>
                  <div class="mask"></div>
              </a>
          </div>

          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Cashback? O que é e como pode ajudar a minha empresa?</h4>
              <!--Text-->
              <p class="card-text">O mundo dos negócios requer inovações constantes por parte das empresas, para que estas consigam atrair e fidelizar clientes e aumentar o seu lucro,
                ficando, desta forma, um passo à frente dos concorrentes. Assim sendo, existem diversas maneiras para que uma empresa se reinvente e consiga se manter no topo. Trabalhar com cashback é uma delas.</p>
              <a class="btn btn-green waves-light" (click)="onThirdPostClick()" mdbRippleRadius>Ler mais</a>
          </div>

      </div>
      <!--/.Card-->
    </div>

  </div>
</div>
