<div class ="container">
  <div class="card card-cascade wider reverse my-4">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="assets/image2_post_detail.jpg" class="img-fluid">

        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>6 dicas para fazer o seu salário render</strong></h4>
            <h5 class="grey-text"><strong>#BlogPost</strong></h5>

            <p class="card-text">Se uma coisa que todo mundo tem apego é com o salário. Depois de um mês dando duro no trabalho, nada como abrir a sua conta e ver ele lá, completinho.
            </p>

            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->



    <div class="mx-auto" style="width: 1000px;">
      <p class="section-description">Se uma coisa que todo mundo tem apego é com o salário. Depois de um mês dando duro no trabalho, nada como abrir a sua conta e ver ele lá, completinho.
E para te ajudar a aproveitar ainda mais seu salário, separamos 10 dicas de ouro que claro só a Equipe Back Cash poderia te dar:
1. Tenha um controle das suas despesas: coloque tudo no papel ou use algum aplicativo que te ajude a gerenciar as finanças.
2. Separe ao menos 10% do seu salário todo mês e coloque em uma poupança ou em uma previdência privada por exemplo.
3. Cheque especial?! Nem nos pensamentos. Tudo o que pode gerar taxas extras sobre seu orçamento deve ser evitado.
4. Antes de comprar um produto ou serviço, realize uma pesquisa de preço.
5. Muitos sites disponibilizam cupons de desconto, fique atento e utilize desse benefício.
6. E se além do desconto citado no item anterior, parte do valor da sua compra retornar para você? Curtiu a ideia? Então busque empresas do modelo Cashback, onde além de conseguir descontos, você receberá de volta uma porcentagem da compra e detalhe, para compras online e físicas.
Ficou interessado? Baixe o nosso material e fique por dentro das vantagens de utilizar o serviço cashback que já é sucesso no mundo todo. Não perca mais tempo e nem dinheiro.


      </p>
    </div>

    <div class="mx-auto" style="width: 800px;">
      <div class="formbackground">
        <app-formulariocadastro></app-formulariocadastro>
      </div>
    </div>



</div>
