.container{
  margin-top: 2cm
}

 .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.md-form label {
    color: #3f51b5;
}
h6 {
    line-height: 1.7;
}
.formbackground{
    background: linear-gradient(45deg, rgba(76, 175, 80, 0.7), rgba(0, 150, 136, 0.7) 100%);
}
