<div class ="container">
  <div class="card card-cascade wider reverse my-4">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="assets/BackCash_Posts-Facebook_01.jpg" class="img-fluid">

        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Cashback? O que é e como pode ajudar a minha empresa?</strong></h4>
            <h5 class="grey-text"><strong>#BlogPost</strong></h5>

            <p class="card-text">Como que o cashback pode ajudar minha empresa a crescer e como se tornar parceiro da Backcash ?
            </p>

            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->



    <div class="mx-auto" style="width: 1000px;">
      <p class="section-description">O mundo dos negócios requer inovações constantes por parte das empresas, para que estas consigam atrair e fidelizar clientes e aumentar o seu lucro, ficando, desta forma, um passo à frente dos concorrentes. Assim sendo, existem diversas maneiras para que uma empresa se reinvente e consiga se manter no topo. Trabalhar com cashback é uma delas.
Através do cashback, uma porcentagem do valor gasto pelo cliente na compra volta para ele. Basicamente, é uma forma do comprador economizar e poder fazer a aquisição de outros produtos e bens. Já pensou em como isso pode influenciar na decisão de um indivíduo entre fazer ou não uma transação com uma empresa? No mínimo, o consumidor ficará mais satisfeito só de ter de volta um pouco daquilo que foi gasto.

Por que se tornar parceiro da Back Cash?

Em primeiro lugar, o fato de o cliente ter a garantia de receber de volta uma parcela do que foi gasto faz com que ele se sinta inclinado a revisitar e comprar novamente na mesma empresa, refletindo no aumento de suas vendas. Fora isso, todos aqueles que utilizam os serviços da Back Cash terão acesso, às notícias, novidades e informações proporcionadas pelo nosso blog.
Mas não é só isso.
Além de aumentar o lucro e as vendas, o cashback dá uma maior segurança ao cliente no momento da compra. No portal da Back Cash iremos fornecer informações completas e detalhadas sobre como tudo isso funciona. Isso deixa o cliente mais seguro, tornando-o mais propenso a realizar a compra.

Como faço para a minha empresa se tornar parceira da Back Cash?

Pode ter certeza que, ao fazer parte de um esquema de cashback, as vendas de uma empresa e a capacidade dela de fidelizar clientes aumentam muito. Se você deseja usufruir das vantagens do cashback, basta entrar no nosso site, www.backcash.com.br, fazer o cadastro e seguir os passos. Estamos te aguardando!

      </p>
    </div>

    <div class="mx-auto" style="width: 800px;">
      <div class="formbackground">
        <app-formulariocadastro></app-formulariocadastro>
      </div>
    </div>



</div>
