
    <!--Form-->
    <div class="card wow fadeInRight" data-wow-delay="0.3s">
        <div class="card-body">
            <!--Header-->
            <div class="text-center">
                <h3 class="white-text"><i class="fa fa-user white-text"></i> Cadastre-se:</h3>
                <hr class="hr-light">
            </div>

            <!-- Formulario-->
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <!--Body-->
              <div class="md-form form-group">
                  <i class="fa fa-user prefix white-text"></i>
                  <input  type="text" id="form3" class="form-control validate" mdbActive formControlName="name" >
                  <label for="form3" >Seu nome completo</label>
              </div>
              <div class="text-center" *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched">
                <p class="red-text">*Campo obrigatório!</p>
              </div>
              <div class="md-form form-group">
                  <i class="fa fa-envelope prefix white-text"></i>
                  <input  type="email" id="form2" class="form-control validate" mdbActive formControlName="email"  >
                  <label for="form2" >Seu e-mail</label>
              </div>
              <div class="text-center" *ngIf="myForm.controls['email'].hasError('email') && myForm.controls['email'].touched">
                <p class="red-text">*E-mail inválido!</p>
              </div>
              <div>
                 <hr>
                    <fieldset class="form-group">
                        <input type="checkbox" id="checkbox" formControlName="checkbox" >
                        <label for="checkbox" class="white-text">E-mail empresarial(ex: seu nome@suaempresa.com)</label>
                    </fieldset>
              </div>
            <div class="formbottom">  
            <div class="text-center">
                <button type="submit" [disabled]="myForm.invalid" class="btn btn-grey darken-2 waves-light" mdbRippleRadius>Cadastrar</button>
                 <hr class="hr-light mb-3 mt-4">

                    <div class="inline-ul text-center d-flex justify-content-center">
                        <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                        <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                    </div>

            </div>
          </div>
          </form>

        </div>
    </div>
    <!--/.Form-->
